//- programm square item
mixin programmSquareItem(programm, play = true)
	.programm-item
		.programm-item__inner
			.programm-item__poster
				if programm.poster
					img.programm-item__poster-img(src="img/content/programms/" + programm.poster alt=programm.title + " постер")
				else
					img.programm-item__poster-img(src="img/tv-dummy.png" alt=programm.title)
			.programm-item__overlay
				.programm-item__overlay-dimmer
				if play
					.programm-item__overlay-play
						i.icon-play
			if programm.channel
				.programm-item__channel
					img.programm-item__channel-img(src="img/content/channels/" + programm.channel alt="Название канала")
			else
				.programm-item__channel
					img.programm-item__channel-img(src="img/tv-dummy.png" alt="Канал без лого")
			.programm-item__footer
				.programm-item__time #{programm.time}
				h3.programm-item__title #{programm.title}
			.programm-item__progress
				.programm-item__progress-bar(style="width:" + programm.progress + "%")
			a.programm-item__link(href="#programm-link" title=programm.title)
				span.visually-hidden #{programm.title}

//- tv slider
mixin programmSlider(title, tabs, programms, categories, play)
	.programm-slider
		.programm-slider__header
			h2.programm-slider__title.title-1 #{title}
			.programm-slider__category.nav
				each category, idx in categories
					a.programm-slider__tab(class=(idx == 0 ? 'active': '') href="#"+category.id data-toggle="tab") #{category.title}
		.tab-content
			each category, idx in categories
				if (idx == 1)
					- programms = programms.reverse();
				.tab-pane(class=(idx == 0 ? 'active' : 'fade') id=category.id)
					.programm-slider__body.items-carousels.owl-carousel
						each programm in programms
							+programmSquareItem(programm, play)
							
		noscript.no-js-msg #{globalData.nojs}

//- programm info
mixin programmCard(title)
	article.programm-card.d-none.d-lg-block
		header.programm-card__header
			.programm-card__title #{title}
			//- button.programm-card__close.d-flex.d-lg-none
				i.icon-close
		.programm-card__poster
			a.programm-card__link(href="programm.html" title=title aria-label=title)
				img.programm-card__poster-img(src="img/content/banners/programm-info0.png" alt=title = " постер")
		.programm-card__descr Новости. Информация. Главные новости региона. Происшествия, политика, общественная жизнь, экономика, спрот, культура, прогноз погоды.
		footer.programm-card__footer
			.programm-card__info Инфо
			.programm-card__rating 12+

//- teleguide row
mixin programmItem(type, category, time, title, mainDescr, series)
	//- types: past, on-air, future, tv-guide 
	-
		function typeClass(type) {
			switch(type) {
				case 'on-air':
				return 'is-on-air';
				break;
				case 'past':
				return 'is-inactive';
				break;
				default:
				return category ? 'programm-list__item--' + category : '';
			}
		};
	li.programm-list__item(class=typeClass(type))
		.programm-list__time #{time}
		.programm-list__link 
			a.programm-list__title(href="programm.html") #{title}
			if type != 'tv-guide'
				.programm-list__watch
					i.programm-list__watch-icon.icon-play
					a.programm-list__watch-link(href="#")
						if type == 'past'
							| Смотреть в записи
						else
							| Смотреть онлайн
			.programm-list__descr
				if type == 'on-air'
					img.programm-list__descr-img(src="img/content/programms/preview/fashion.png" alt=title + " preview")
				if series
					ul.programm-list__descr-series
						each serie in series
							li.programm-list__descr-series-item #{serie}
				if type != 'past' && mainDescr
					.programm-list__descr-main.expanded-text #{mainDescr}
		if type == 'tv-guide'
			+programmCard(title)
		if type == 'on-air'
			.programm-list__progress
				.programm-list__progress-bar(style="width:60%")

//- movie item
mixin movieItem(movie, idx)
	.movie-item
		.movie-item__inner
			.movie-item__poster
				if movie.poster
					img.movie-item__poster-img(src="img/content/movies/" + movie.poster alt=movie.title + " постер")
				else
					img.movie-item__poster-img(src="img/movie-dummy.png" alt="Фильм без постера")
				.movie-item__overlay
					.movie-item__overlay-play
						i.icon-play
				.movie-item__info
					if idx % 2 == 0
						.movie-item__info-item
							i.icon-ruble
							span Покупка
					else
						.movie-item__info-item
							i.icon-play-plus
							span Подписка
				
			.movie-item__badge 
				each badge in movie.badges
					span.movie-item__badge-item #{badge}
			.movie-item__rating
				.movie-item__rating-icon
					i.icon-kinopoisk-logo
				.movie-item__rating-value #{movie.rating}
			.movie-item__title
				h3.movie-item__title-text #{movie.title}
			a.movie-item__link(href="#movie-link" title=movie.title)
				span.visually-hidden #{movie.title}

//- channel column
mixin channelCol(channel)
	.guide-grid__col.col-sm-6.col-xl-3
		.guide-channel
			header.guide-channel__header
				.guide-channel__header-link
					.guide-channel__logo
						img.guide-channel__logo-img(src="img/content/channels/" + channel.logo, alt=channel.title + " лого" width="32" height="32")
					a.guide-channel__title(href="channel.html") #{channel.title}
				.guide-channel__control
					.guide-channel__control-item.guide-channel__control-item--play
						i.icon-play
					button.guide-channel__control-item.guide-channel__control-item--fav.fav-btn(type="button" title="Добавить в избранное")
						i.icon-heart-empty
						i.icon-heart-solid
			ul.guide-channel__list.programm-list
				each programm in channel.list
					+programmItem(
						'tv-guide',
						programm.type,
						programm.time,
						programm.title,
						'',
						programm.series
					)

//- guide view switcher
mixin guideViewSwitcher(type, device)
	.guide-view-switcher(class=(device == 'desktop' ? 'd-none d-lg-flex' : 'd-lg-none'))
		if type == 'channel'
			span.guide-view-switcher__link.is-inactive Сейчас
			a.guide-view-switcher__link(href="channel-week.html") Расписание на неделю
		else
			a.guide-view-switcher__link(href="channel.html") Сейчас
			span.guide-view-switcher__link.is-inactive Расписание на неделю
