-
	var card = {
		title: 'Новости',
		poster: 'programm-info0.png',
		descr: 'Новости. Информация. Главные новости региона. Происшествия, политика, общественная жизнь, экономика, спрот, культура, прогноз погоды.',
		info: 'Инфо',
		rating: '12+',
	}

article.programm-card
	header.programm-card__header
		span #{card.title}
		button.programm-card__close.d-flex.d-lg-none
			i.icon-close
	.programm-card__poster
		img.programm-card__poster-img(src="/img/content/banners/" + card.poster, alt=card.title = " постер")
	.programm-card__descr #{card.descr}
	footer.programm-card__footer
		.programm-card__info #{card.info}
		.programm-card__rating #{card.rating}
