-
	var categories = [
		{
			title: 'Новые фильмы',
			link: 'Новые фильмы',
		},
		{
			title: 'Популярные сериалы',
			link: 'Все сериалы',
		},
		{
			title: 'Мультфильмы',
			link: 'Все мультфильмы',
		},
	];
-
	var subCat = [
		'Русские комедии про водку',
		'Фильмы о волках',
		'Ранний монгольский арт-хаус',
		'Советские мультики про дружбу',
		'Индийское игровое кино',
		'Русские комедии про водку',
		'Фильмы о волках',
		'Ранний монгольский арт-хаус',
		'Советские мультики про дружбу',
		'Индийское игровое кино',
	];
-
	var movies = [
		{
			badges: [
				'18+',
			],
			rating: '7.0',
			title: 'Реинкарнация',
			poster: 'reincarnation.png',
			info: '1998, Италия',
		},
		{
			badges: [
				'18+',
			],
			rating: '7.0',
			title: 'Мавританец',
			poster: 'mauritian.png',
			info: '1998, Италия',
		},
		{
			badges: [
				'18+',
			],
			rating: '7.0',
			title: 'Дочь волка',
			poster: 'wolfs-daughter.png',
			info: '1998, Италия',
		},
		{
			badges: [
				'18+',
			],
			rating: '7.0',
			title: 'Гипсомния',
			poster: 'hyposomny.png',
			info: '1998, Италия',
		},
		{
			badges: [
				'18+',
			],
			rating: '7.0',
			title: 'Станиславский. Жажда жизни',
			poster: 'stanislavsky.png',
			info: '2022, Россия',
		},
		{
			badges: [
				'12+',
			],
			rating: '5.5',
			title: 'Скайлайн 3',
			poster: 'skyline.png',
			info: '2022, Россия',
		},
		{
			badges: [
				'18+',
			],
			rating: '6.5',
			title: 'Поли',
			poster: 'poli.png',
			info: '2022, США',
		},
		{
			badges: [
				'18+',
			],
			rating: '6.5',
			title: 'Italian Best Shorts 4: Истории нашей жизни',
			poster: 'italian-best-shorts.png',
			info: '2022, Испания',
		},
		{
			badges: [
				'18+',
			],
			rating: '5.3',
			title: 'Мой брат – супергерой',
			poster: 'my-brother.png',
			info: '2022, Индия',
		},
		{
			badges: [
				'18+',
			],
			rating: '8.1',
			title: 'Доктор Стрейнджлав, или Как я научился не волноваться и полюбил атомную бомбу',
			poster: 'doctor-strangelove.jpg',
			info: '2022, Югославия',
		},
	];

section.movies-categories
	each category in categories
		.movies-categories__item.movies-cat
			.container-xl
				.row.justify-content-between
					.col-auto
						h2.movies-cat__title.title-2 #{category.title}
					.col-auto
						a.movies-cat__link(href="#") #{category.link}
				.movies-cat__slider.owl-carousel.categories-list
					each link in subCat
						a.movies-cat__slider-link(href="#") #{link}
				.movies-slider
					.movies-slider__inner
						.movies-slider__body.items-carousels.owl-carousel
							each movie in movies
								.movie-item
									.movie-item__inner
										.movie-item__poster
											img.movie-item__poster-img(src="/img/content/movies/" + movie.poster alt=movie.title + " постер")
											.movie-item__overlay
												.movie-item__overlay-play
													i.icon-play
											//- .movie-item__info
												//- a.movie-item__info-item(href="#buy-link")
													i.icon-ruble
													span #{data.info.buy}
												.movie-item__info-item
													i.icon-play-plus
													span #{data.info.subs}
											
										.movie-item__badge 
											each badge in movie.badges
												span.movie-item__badge-item #{badge}
										.movie-item__rating
											.movie-item__rating-icon
												i.icon-kinopoisk-logo
											.movie-item__rating-value #{movie.rating}
										.movie-item__title
											h3.movie-item__title-text #{movie.title}
											.movie-item__title-descr #{movie.info}
										a.movie-item__link(href="#movie-link" title=movie.title)
											span.visually-hidden #{movie.title}

